<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>areaCode</key>
        <array>
            <array>
                <array>
                    <string>阿爾巴尼亞</string>
                    <string>+355</string>
                    <string>Albania</string>
                </array>
                <array>
                    <string>阿爾基里亞</string>
                    <string>+213</string>
                    <string>Alkirian</string>
                </array>
                <array>
                    <string>阿富汗</string>
                    <string>+93</string>
                    <string>Afganistán</string>
                </array>
                <array>
                    <string>阿根廷</string>
                    <string>+54</string>
                    <string>Argentina</string>
                </array>
                <array>
                    <string>愛爾蘭</string>
                    <string>+353</string>
                    <string>Irlanda</string>
                </array>
                <array>
                    <string>埃及</string>
                    <string>+20</string>
                    <string>Egipto</string>
                </array>
                <array>
                    <string>埃塞俄比亞</string>
                    <string>+251</string>
                    <string>Etiopía</string>
                </array>
                <array>
                    <string>愛沙尼亞</string>
                    <string>+372</string>
                    <string>Estonia</string>
                </array>
                <array>
                    <string>阿拉伯聯合酋長國</string>
                    <string>+971</string>
                    <string>Emiratos Árabes Unidos</string>
                </array>
                <array>
                    <string>阿魯巴</string>
                    <string>+297</string>
                    <string>Aruba</string>
                </array>
                <array>
                    <string>阿曼</string>
                    <string>+968</string>
                    <string>Omán</string>
                </array>
                <array>
                    <string>安道爾</string>
                    <string>+376</string>
                    <string>Andorra</string>
                </array>
                <array>
                    <string>安哥拉</string>
                    <string>+244</string>
                    <string>Angola</string>
                </array>
                <array>
                    <string>安圭拉</string>
                    <string>+1264</string>
                    <string>Anguila</string>
                </array>
                <array>
                    <string>安提瓜和巴布達</string>
                    <string>+1268</string>
                    <string>Antigua y Barbuda</string>
                 </array>
                <array>
                    <string>澳大利亞</string>
                    <string>+61</string>
                    <string>Australia</string>
                </array>
                <array>
                    <string>奧地利</string>
                    <string>+43</string>
                    <string>Austria</string>
                </array>
                <array>
                    <string>阿塞拜疆</string>
                    <string>+994</string>
                    <string>Azerbaiyán</string>
                </array>
            </array>
            <array>
                <array>
                    <string>巴巴多斯</string>
                    <string>+1246</string>
                    <string>Barbados</string>
                </array>
                <array>
                    <string>巴布亞新幾內亞</string>
                    <string>+675</string>
                    <string>Papúa Nueva Guinea</string>
                </array>
                <array>
                    <string>巴哈馬</string>
                    <string>+1242</string>
                    <string>Bahamas</string>
                </array>
                <array>
                    <string>白俄羅斯</string>
                    <string>+375</string>
                    <string>Bielorrusia</string>
                </array>
                <array>
                    <string>百慕大</string>
                    <string>+1441</string>
                    <string>islas Bermudas</string>
                </array>
                <array>
                    <string>巴基斯坦</string>
                    <string>+92</string>
                    <string>Pakistán</string>
                </array>
                <array>
                    <string>巴拉圭</string>
                    <string>+595</string>
                    <string>Paraguay</string>
                </array>
                <array>
                    <string>巴林</string>
                    <string>+973</string>
                    <string>Bahrein</string>
                </array>
                <array>
                    <string>巴拿馬</string>
                    <string>+507</string>
                    <string>Panamá</string>
                </array>
                <array>
                    <string>保加利亞</string>
                    <string>+359</string>
                    <string>Bulgaria</string>
                </array>
                <array>
                    <string>巴西</string>
                    <string>+55</string>
                    <string>Brasil</string>
                </array>
                <array>
                    <string>北馬里亞納群島</string>
                    <string>+1670</string>
                    <string>Islas Marianas del Norte</string>
                </array>
                <array>
                    <string>貝寧</string>
                    <string>+229</string>
                    <string>Benin</string>
                </array>
                <array>
                    <string>比利時</string>
                    <string>+32</string>
                    <string>Bélgica</string>
                </array>
                <array>
                    <string>冰島</string>
                    <string>+354</string>
                    <string>Islandia</string>
                </array>
                <array>
                    <string>博茨瓦納</string>
                    <string>+267</string>
                    <string>Botsuano</string>
                </array>
                <array>
                    <string>波多黎各</string>
                    <string>+1</string>
                    <string>Puerto Rico</string>
                </array>
                <array>
                    <string>波蘭</string>
                    <string>+48</string>
                    <string>Polonia</string>
                </array>
                <array>
                    <string>玻利維亞</string>
                    <string>+591</string>
                    <string>Bolivia</string>
                </array>
                <array>
                    <string>伯利茲</string>
                    <string>+501</string>
                    <string>Belice</string>
                </array>
                <array>
                    <string>波斯尼亞和黑塞哥維那</string>
                    <string>+387</string>
                    <string>Bosnia y Herzegovina</string>
                </array>
                <array>
                    <string>不丹</string>
                    <string>+975</string>
                    <string>Bután</string>
                </array>
                <array>
                    <string>布基納法索</string>
                    <string>+226</string>
                    <string>Burkina Faso</string>
                </array>
                <array>
                    <string>布隆迪</string>
                    <string>+257</string>
                    <string>Burundi</string>
                </array>
            </array>
            <array>
                <array>
                    <string>朝鮮</string>
                    <string>+850</string>
                    <string>Corea</string>
                </array>
                <array>
                    <string>赤道幾內亞</string>
                    <string>+240</string>
                    <string>Guinea Ecuatorial</string>
                </array>
            </array>
            <array>
                <array>
                    <string>丹麥</string>
                    <string>+45</string>
                    <string>Dinamarca</string>
                </array>
                <array>
                    <string>德國</string>
                    <string>+49</string>
                    <string>Alemania</string>
                </array>
                <array>
                    <string>東帝汶</string>
                    <string>+670</string>
                    <string>Timor Oriental</string>
                </array>
                <array>
                    <string>多哥</string>
                    <string>+228</string>
                    <string>Ir</string>
                </array>
                <array>
                    <string>多米尼加共和國</string>
                    <string>+1809</string>
                    <string>República Dominicana</string>
                </array>
                <array>
                    <string>多米尼克</string>
                    <string>+1767</string>
                    <string>Dominic</string>
                </array>
            </array>
            <array>
                <array>
                    <string>厄瓜多爾</string>
                    <string>+593</string>
                    <string>Ecuador</string>
                </array>
                <array>
                    <string>厄立特里亞</string>
                    <string>+291</string>
                    <string>Eritrea</string>
                </array>
                <array>
                    <string>俄羅斯</string>
                    <string>+7</string>
                    <string>Rusia</string>
                </array>
            </array>
            <array>
                <array>
                    <string>法國</string>
                    <string>+33</string>
                    <string>Francia</string>
                </array>
                <array>
                    <string>法羅群島</string>
                    <string>+298</string>
                    <string>Islas Faroe</string>
                </array>
                <array>
                    <string>梵蒂岡</string>
                    <string>+379</string>
                    <string>Vaticano</string>
                </array>
                <array>
                    <string>法屬波利尼西亞</string>
                    <string>+689</string>
                    <string>Polinesia francés</string>
                </array>
                <array>
                    <string>法屬聖馬丁</string>
                    <string>+1599</string>
                    <string>Francés san martín</string>
                </array>
                <array>
                    <string>斐濟</string>
                    <string>+679</string>
                    <string>Fiyi</string>
                </array>
                <array>
                    <string>菲律賓</string>
                    <string>+63</string>
                    <string>Filipinas</string>
                </array>
                <array>
                    <string>芬蘭</string>
                    <string>+358</string>
                    <string>Finlandia</string>
                </array>
                <array>
                    <string>佛得角</string>
                    <string>+238</string>
                    <string>Cabo Verde</string>
                </array>
                <array>
                    <string>福克蘭群島</string>
                    <string>+500</string>
                    <string>Islas Malvinas</string>
                </array>
            </array>
            <array>
                <array>
                    <string>岡比亞</string>
                    <string>+220</string>
                    <string>Gambia</string>
                </array>
                <array>
                    <string>剛果</string>
                    <string>+242</string>
                    <string>Congo</string>
                </array>
                <array>
                    <string>剛果（金）</string>
                    <string>+243</string>
                    <string>Congo (oro)</string>
                </array>
                <array>
                    <string>格陵蘭</string>
                    <string>+299</string>
                    <string>Groenlandia</string>
                </array>
                <array>
                    <string>格林納達</string>
                    <string>+1473</string>
                    <string>Granada</string>
                </array>
                <array>
                    <string>格魯吉亞</string>
                    <string>+995</string>
                    <string>Georgia</string>
                </array>
                <array>
                    <string>哥倫比亞</string>
                    <string>+57</string>
                    <string>Colombia</string>
                </array>
                <array>
                    <string>哥斯達黎加</string>
                    <string>+506</string>
                    <string>Costa Rica</string>
                </array>
                <array>
                    <string>關島</string>
                    <string>+1671</string>
                    <string>Guam</string>
                </array>
                <array>
                    <string>古巴</string>
                    <string>+53</string>
                    <string>Cuba</string>
                </array>
                <array>
                    <string>圭亞那</string>
                    <string>+592</string>
                    <string>Guayana</string>
                </array>
            </array>
            <array>
                <array>
                    <string>海地</string>
                    <string>+509</string>
                    <string>Haití</string>
                </array>
                <array>
                    <string>韓國</string>
                    <string>+82</string>
                    <string>Corea</string>
                </array>
                <array>
                    <string>哈薩克斯坦</string>
                    <string>+7</string>
                    <string>Kazajstán</string>
                </array>
                <array>
                    <string>黑山</string>
                    <string>+382</string>
                    <string>Montenegro</string>
                </array>
                <array>
                    <string>荷蘭</string>
                    <string>+31</string>
                    <string>Países Bajos</string>
                </array>
                <array>
                    <string>荷屬安地列斯群島</string>
                    <string>+599</string>
                    <string>Antillas Holandesas</string>
                </array>
                <array>
                    <string>洪都拉斯</string>
                    <string>+504</string>
                    <string>Honduras</string>
                </array>
            </array>
            <array>
                <array>
                    <string>加納</string>
                    <string>+233</string>
                    <string>Ghana</string>
                </array>
                <array>
                    <string>加拿大</string>
                    <string>+1</string>
                    <string>Canadá</string>
                </array>
                <array>
                    <string>柬埔寨</string>
                    <string>+855</string>
                    <string>Camboya</string>
                </array>
                <array>
                    <string>加蓬</string>
                    <string>+241</string>
                    <string>Gabón</string>
                </array>
                <array>
                    <string>吉布提</string>
                    <string>+253</string>
                    <string>Djibouti</string>
                </array>
                <array>
                    <string>捷克共和國</string>
                    <string>+420</string>
                    <string>Republica checa</string>
                </array>
                <array>
                    <string>吉爾吉斯斯坦</string>
                    <string>+996</string>
                    <string>Kirguistán</string>
                </array>
                <array>
                    <string>基里巴斯</string>
                    <string>+686</string>
                    <string>Kiribati</string>
                </array>
                <array>
                    <string>津巴布韋</string>
                    <string>+263</string>
                    <string>Zimbabue</string>
                </array>
                <array>
                    <string>幾內亞</string>
                    <string>+224</string>
                    <string>Guinea</string>
                </array>
                <array>
                    <string>幾內亞比紹</string>
                    <string>+245</string>
                    <string>Guinea-Bissau</string>
                </array>
            </array>
            <array>
                <array>
                    <string>開曼群島</string>
                    <string>+1345</string>
                    <string>Islas Caimán</string>
                </array>
                <array>
                    <string>喀麥隆</string>
                    <string>+237</string>
                    <string>Camerún</string>
                </array>
                <array>
                    <string>卡塔爾</string>
                    <string>+974</string>
                    <string>Katar</string>
                </array>
                <array>
                    <string>科科斯（基林）群島</string>
                    <string>+61</string>
                    <string>Islas Cocos (Keeling)</string>
                </array>
                <array>
                    <string>克羅地亞</string>
                    <string>+385</string>
                    <string>Croacia</string>
                </array>
                <array>
                    <string>科摩羅</string>
                    <string>+269</string>
                    <string>Comoras</string>
                </array>
                <array>
                    <string>肯尼亞</string>
                    <string>+254</string>
                    <string>Kenia</string>
                </array>
                <array>
                    <string>科特迪瓦</string>
                    <string>+225</string>
                    <string>Costa de Marfil</string>
                </array>
                <array>
                    <string>科威特</string>
                    <string>+965</string>
                    <string>Kuwait</string>
                </array>
                <array>
                    <string>庫克群島</string>
                    <string>+682</string>
                    <string>Isla</string>
                </array>
            </array>
            <array>
                <array>
                    <string>來鎖特</string>
                    <string>+266</string>
                    <string>Bloquear</string>
                </array>
                <array>
                    <string>老撾</string>
                    <string>+856</string>
                    <string>Laos</string>
                </array>
                <array>
                    <string>拉脫維亞</string>
                    <string>+371</string>
                    <string>Letonia</string>
                </array>
                <array>
                    <string>黎巴嫩</string>
                    <string>+961</string>
                    <string>Líbano</string>
                </array>
                <array>
                    <string>利比里亞</string>
                    <string>+231</string>
                    <string>Liberia</string>
                </array>
                <array>
                    <string>利比亞</string>
                    <string>+218</string>
                    <string>Libia</string>
                </array>
                <array>
                    <string>列支敦士登</string>
                    <string>+423</string>
                    <string>Liechtenstein</string>
                </array>
                <array>
                    <string>立陶宛</string>
                    <string>+370</string>
                    <string>Lituania</string>
                </array>
                <array>
                    <string>羅馬尼亞</string>
                    <string>+40</string>
                    <string>Rumania</string>
                </array>
                <array>
                    <string>盧森堡</string>
                    <string>+352</string>
                    <string>Luxemburgo</string>
                </array>
                <array>
                    <string>盧旺達</string>
                    <string>+250</string>
                    <string>Ruanda</string>
                </array>
            </array>
            <array>
                <array>
                    <string>馬達加斯加</string>
                    <string>+261</string>
                    <string>Madagascar</string>
                </array>
                <array>
                    <string>馬爾代夫</string>
                    <string>+960</string>
                    <string>Maldivas</string>
                </array>
                <array>
                    <string>馬耳他</string>
                    <string>+356</string>
                    <string>Malta</string>
                </array>
                <array>
                    <string>馬來西亞</string>
                    <string>+60</string>
                    <string>Malasia</string>
                </array>
                <array>
                    <string>馬拉維</string>
                    <string>+265</string>
                    <string>Malawi</string>
                </array>
                <array>
                    <string>馬里</string>
                    <string>+223</string>
                    <string>Mali</string>
                </array>
                <array>
                    <string>曼島</string>
                    <string>+44</string>
                    <string>Isla del hombre</string>
                </array>
                <array>
                    <string>毛里求斯</string>
                    <string>+230</string>
                    <string>Mauricio</string>
                </array>
                <array>
                    <string>毛里塔尼亞</string>
                    <string>+222</string>
                    <string>Mauritania</string>
                </array>
                <array>
                    <string>馬其頓</string>
                    <string>+389</string>
                    <string>macedonia</string>
                </array>
                <array>
                    <string>馬紹爾群島</string>
                    <string>+692</string>
                    <string>Islas Marshall</string>
                </array>
                <array>
                    <string>馬約特</string>
                    <string>+262</string>
                    <string>Maravilla</string>
                </array>
                <array>
                    <string>美國</string>
                    <string>+1</string>
                    <string>Estados Unidos</string>
                </array>
                <array>
                    <string>美屬薩摩亞</string>
                    <string>+1684</string>
                    <string>Samoa Americana</string>
                </array>
                <array>
                    <string>美屬維京群島</string>
                    <string>+1340</string>
                    <string>Islas Vírgenes de EE.UU</string>
                </array>
                <array>
                    <string>蒙古</string>
                    <string>+976</string>
                    <string>Mongolia</string>
                </array>
                <array>
                    <string>孟加拉國</string>
                    <string>+880</string>
                    <string>Bangladesh</string>
                </array>
                <array>
                    <string>蒙特塞拉特</string>
                    <string>+1664</string>
                    <string>Montserrat</string>
                </array>
                <array>
                    <string>緬甸</string>
                    <string>+95</string>
                    <string>Myanmar</string>
                </array>
                <array>
                    <string>密克羅尼西亞</string>
                    <string>+691</string>
                     <string>Micronesia</string>
                </array>
                <array>
                    <string>秘魯</string>
                    <string>+51</string>
                    <string>Perú</string>
                </array>
                <array>
                    <string>摩爾多瓦</string>
                    <string>+373</string>
                      <string>Moldavia</string>
                </array>
                <array>
                    <string>摩洛哥</string>
                    <string>+212</string>
                    <string>Marruecos</string>
                </array>
                <array>
                    <string>摩納哥</string>
                    <string>+377</string>
                     <string>Mónaco</string>
                </array>
                <array>
                    <string>莫桑比克</string>
                    <string>+258</string>
                    <string>Mozambique</string>
                </array>
                <array>
                    <string>墨西哥</string>
                    <string>+52</string>
                    <string>Mexico</string>
                </array>
            </array>
            <array>
                <array>
                    <string>納米比亞</string>
                    <string>+264</string>
                    <string>Namibia</string>
                </array>
                <array>
                    <string>南非</string>
                    <string>+27</string>
                    <string>Sudáfrica</string>
                </array>
                <array>
                    <string>南極洲</string>
                    <string>+672</string>
                    <string>Antártida</string>
                </array>
                <array>
                    <string>瑙魯</string>
                    <string>+674</string>
                    <string>Nauru</string>
                </array>
                <array>
                    <string>尼泊爾</string>
                    <string>+977</string>
                    <string>Nepal</string>
                </array>
                <array>
                    <string>尼加拉瓜</string>
                    <string>+505</string>
                    <string>Nicaragua</string>
                </array>
                <array>
                    <string>尼日爾</string>
                    <string>+227</string>
                     <string>Níger</string>
                </array>
                <array>
                    <string>尼日利亞</string>
                    <string>+234</string>
                    <string>Nigeria</string>
                </array>
                <array>
                    <string>紐埃</string>
                    <string>+683</string>
                    <string>Niue</string>
                </array>
                <array>
                    <string>挪威</string>
                    <string>+47</string>
                    <string>Noruega</string>
                </array>
            </array>
            <array>
                <array>
                    <string>帕勞</string>
                    <string>+680</string>
                    <string>Palau</string>
                </array>
                <array>
                    <string>皮特凱恩群島</string>
                    <string>+870</string>
                     <string>Islas Pitcairn</string>
                </array>
                <array>
                    <string>葡萄牙</string>
                    <string>+351</string>
                    <string>Portugal</string>
                </array>
            </array>
            <array>
                <array>
                    <string>日本</string>
                    <string>0081</string>
                    <string>Japón</string>
                </array>
                <array>
                    <string>瑞典</string>
                    <string>+46</string>
                    <string>Suecia</string>
                </array>
                <array>
                    <string>瑞士</string>
                    <string>+41</string>
                    <string>Suiza</string>
                </array>
            </array>
            <array>
                <array>
                    <string>薩爾瓦多</string>
                    <string>+503</string>
                    <string>el Salvador</string>
                </array>
                <array>
                    <string>塞爾維亞</string>
                    <string>+381</string>
                    <string>Serbia</string>
                </array>
                <array>
                    <string>塞拉利昂</string>
                    <string>+232</string>
                    <string>Sierra Leone</string>
                </array>
                <array>
                    <string>塞內加爾</string>
                    <string>+221</string>
                    <string>Senegal</string>
                </array>
                <array>
                    <string>塞浦路斯</string>
                    <string>+357</string>
                     <string>Chipre</string>
                </array>
                <array>
                    <string>塞舌爾</string>
                    <string>+248</string>
                    <string>Seychelles</string>
                </array>
                <array>
                    <string>薩摩亞</string>
                    <string>+685</string>
                    <string>Samoa</string>
                </array>
                <array>
                    <string>沙特阿拉伯</string>
                    <string>+966</string>
                    <string>Arabia Saudita</string>
                </array>
                <array>
                    <string>聖巴泰勒米</string>
                    <string>+590</string>
                    <string>San Bartolomé</string>
                </array>
                <array>
                    <string>聖誕島</string>
                    <string>+61</string>
                    <string>Isla de Navidad</string>
                </array>
                <array>
                    <string>聖多美和普林西比</string>
                    <string>+239</string>
                    <string>Santo Tomé y Príncipe</string>
                </array>
                <array>
                    <string>聖赫勒拿</string>
                    <string>+290</string>
                    <string>Santa Elena</string>
                </array>
                <array>
                    <string>聖基茨和尼維斯</string>
                    <string>+1869</string>
                    <string>San Cristóbal y Nieves</string>
                </array>
                <array>
                    <string>聖盧西亞</string>
                    <string>+1758</string>
                    <string>Santa lucía</string>
                </array>
                <array>
                    <string>聖馬力諾</string>
                    <string>+378</string>
                    <string>San Marino</string>
                </array>
                <array>
                    <string>聖皮埃爾和密克隆群島</string>
                    <string>+508</string>
                     <string>San Pedro y Miquelón</string>
                </array>
                <array>
                    <string>聖文森特和格林納丁斯</string>
                    <string>+1784</string>
                    <string>San Vicente y las Granadinas</string>
                </array>
                <array>
                    <string>斯里蘭卡</string>
                    <string>+94</string>
                    <string>Sri Lanka</string>
                </array>
                <array>
                    <string>斯洛伐克</string>
                    <string>+421</string>
                    <string>Eslovaquia</string>
                </array>
                <array>
                    <string>斯洛文尼亞</string>
                    <string>+386</string>
                    <string>Eslovenia</string>
                </array>
                <array>
                    <string>斯威士蘭</string>
                    <string>+268</string>
                    <string>Swazilandia</string>
                </array>
                <array>
                    <string>蘇丹</string>
                    <string>+249</string>
                    <string>Sudán</string>
                </array>
                <array>
                    <string>蘇里南</string>
                    <string>+597</string>
                    <string>Surinam</string>
                </array>
                <array>
                    <string>所羅門群島</string>
                    <string>+677</string>
                     <string>Islas Salomón</string>
                </array>
                <array>
                    <string>索馬里</string>
                    <string>+252</string>
                     <string>Somalia</string>
                </array>
            </array>
            <array>
                <array>
                    <string>泰國</string>
                    <string>+66</string>
                    <string>Tailandia</string>
                </array>
                <array>
                    <string>台灣</string>
                    <string>+886</string>
                    <string>Taiwán</string>
                </array>
                <array>
                    <string>塔吉克斯坦</string>
                    <string>+992</string>
                    <string>Tayikistán</string>
                </array>
                <array>
                    <string>汤加</string>
                    <string>+676</string>
                    <string>Tonga</string>
                </array>
                <array>
                    <string>坦桑尼亞</string>
                    <string>+255</string>
                    <string>Tanzania</string>
                </array>
                <array>
                    <string>特克斯和凱科斯群島</string>
                    <string>+1649</string>
                    <string>Islas Turcas y Caicos</string>
                </array>
                <array>
                    <string>特立尼達和多巴哥</string>
                    <string>+1868</string>
                     <string>Trinidad y Tobago</string>
                </array>
                <array>
                    <string>土耳其</string>
                    <string>+90</string>
                    <string>Turquía</string>
                </array>
                <array>
                    <string>土庫曼斯坦</string>
                    <string>+993</string>
                    <string>Turkmenistán</string>
                </array>
                <array>
                    <string>突尼斯</string>
                    <string>+216</string>
                    <string>Túnez</string>
                </array>
                <array>
                    <string>托克勞</string>
                    <string>+690</string>
                    <string>Tokelau</string>
                </array>
                <array>
                    <string>圖瓦盧</string>
                    <string>+688</string>
                    <string>Tuvalu</string>
                </array>
            </array>
            <array>
                <array>
                    <string>瓦利斯和富圖納</string>
                    <string>+681</string>
                     <string>Wallis y Futuna</string>
                </array>
                <array>
                    <string>瓦努阿圖</string>
                    <string>+678</string>
                    <string>Vanuatu</string>
                </array>
                <array>
                    <string>危地馬拉</string>
                    <string>+502</string>
                    <string>Guatemala</string>
                </array>
                <array>
                    <string>委內瑞拉</string>
                    <string>+58</string>
                    <string>Venezuela</string>
                </array>
                <array>
                    <string>文萊</string>
                    <string>+673</string>
                    <string>Brunei</string>
                </array>
                <array>
                    <string>烏干達</string>
                    <string>+256</string>
                    <string>Uganda</string>
                </array>
                <array>
                    <string>烏克蘭</string>
                    <string>+380</string>
                    <string>Ucrania</string>
                </array>
                <array>
                    <string>烏拉圭</string>
                    <string>+598</string>
                    <string>Uruguay</string>
                </array>
                <array>
                    <string>烏茲別克斯坦</string>
                    <string>+998</string>
                    <string>Uzbekistán</string>
                </array>
            </array>
            <array>
                <array>
                    <string>西班牙</string>
                    <string>+34</string>
                    <string>España</string>
                </array>
                <array>
                    <string>希臘</string>
                    <string>+30</string>
                    <string>Grecia</string>
                </array>
                <array>
                    <string>新加坡</string>
                    <string>+65</string>
                    <string>Singapur</string>
                </array>
                <array>
                    <string>新喀裡多尼亞</string>
                    <string>+687</string>
                    <string>Nueva Caledonia</string>
                </array>
                <array>
                    <string>新西蘭</string>
                    <string>+64</string>
                     <string>Nueva Zelanda</string>
                </array>
                <array>
                    <string>匈牙利</string>
                    <string>+36</string>
                    <string>Hungría</string>
                </array>
                <array>
                    <string>敘利亞</string>
                    <string>+963</string>
                    <string>Siria</string>
                </array>
            </array>
            <array>
                <array>
                    <string>牙買加</string>
                    <string>+1876</string>
                    <string>Jamaica</string>
                </array>
                <array>
                    <string>亞美尼亞</string>
                    <string>+374</string>
                    <string>Armenia</string>
                </array>
                <array>
                    <string>也門</string>
                    <string>+967</string>
                    <string>Yemen</string>
                </array>
                <array>
                    <string>意大利</string>
                    <string>+39</string>
                     <string>Italia</string>
                </array>
                <array>
                    <string>伊拉克</string>
                    <string>+964</string>
                    <string>Irak</string>
                </array>
                <array>
                    <string>伊朗</string>
                    <string>+98</string>
                     <string>Corrí</string>
                </array>
                <array>
                    <string>印度</string>
                    <string>+91</string>
                    <string>India</string>
                </array>
                <array>
                    <string>印度尼西亞</string>
                    <string>+62</string>
                    <string>Indonesia</string>
                </array>
                <array>
                    <string>英國</string>
                    <string>+44</string>
                    <string>Reino Unido</string>
                </array>
                <array>
                    <string>英屬維京群島</string>
                    <string>+1284</string>
                    <string>Islas Vírgenes Británicas</string>
                </array>
                <array>
                    <string>以色列</string>
                    <string>+972</string>
                    <string>Israel</string>
                </array>
                <array>
                    <string>約旦</string>
                    <string>+962</string>
                    <string>Jordán</string>
                </array>
                <array>
                    <string>越南</string>
                    <string>+84</string>
                      <string>Vietnam</string>
                </array>
            </array>
            <array>
                <array>
                    <string>贊比亞</string>
                    <string>+260</string>
                     <string>Zambia</string>
                </array>
                <array>
                    <string>乍得</string>
                    <string>+235</string>
                    <string>Chad</string>
                </array>
                <array>
                    <string>直布羅陀</string>
                    <string>+350</string>
                    <string>Gibraltar</string>
                </array>
                <array>
                    <string>智利</string>
                    <string>+56</string>
                     <string>Chile</string>
                </array>
                <array>
                    <string>中非共和國</string>
                    <string>+236</string>
                    <string>República Centroafricana</string>
                </array>
                <array>
                    <string>中國</string>
                    <string>+86</string>
                     <string>China</string>
                </array>
                <array>
                    <string>中國澳門特別行政區</string>
                    <string>+853</string>
                    <string>Región Administrativa Especial de Macao de China</string>
                </array>
                <array>
                    <string>中國香港特別行政區</string>
                    <string>+852</string>
                    <string>Región Administrativa Especial de Hong Kong de China</string>
                </array>
            </array>
        </array>
    </dict>
    
</plist>
