<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>夜宴风波</string>
		<key>icon</key>
		<string>夜宴风波.png</string>
		<key>title</key>
		<string>司南，琉璃</string>
		<key>options</key>
		<array>
			<string>线</string>
			<string>话</string>
			<string>飞</string>
			<string>和</string>
			<string>笑</string>
			<string>夜</string>
			<string>黄</string>
			<string>工</string>
			<string>大</string>
			<string>超</string>
			<string>传</string>
			<string>特</string>
			<string>风</string>
			<string>鸿</string>
			<string>队</string>
			<string>赤</string>
			<string>宴</string>
			<string>人</string>
			<string>壁</string>
			<string>波</string>
			<string>王</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>句号</string>
		<key>icon</key>
		<string>GEM1.jpg</string>
		<key>title</key>
		<string>GEM 邓紫棋</string>
		<key>options</key>
		<array>
			<string>越</string>
			<string>狂</string>
			<string>头</string>
			<string>句</string>
			<string>国</string>
			<string>赤</string>
			<string>派</string>
			<string>壁</string>
			<string>合</string>
			<string>宝</string>
			<string>的</string>
			<string>号</string>
			<string>疯</string>
			<string>线</string>
			<string>石</string>
			<string>光</string>
			<string>人</string>
			<string>伙</string>
			<string>人</string>
			<string>盒</string>
			<string>国</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>我的一个道姑朋友</string>
		<key>icon</key>
		<string>双笙.jpg</string>
		<key>title</key>
		<string>双笙</string>
		<key>options</key>
		<array>
			<string>姑</string>
			<string>曹</string>
			<string>马</string>
			<string>我</string>
			<string>黄</string>
			<string>道</string>
			<string>颖</string>
			<string>的</string>
			<string>飞</string>
			<string>渤</string>
			<string>鸿</string>
			<string>利</string>
			<string>一</string>
			<string>林</string>
			<string>友</string>
			<string>个</string>
			<string>朋</string>
			<string>亚</string>
			<string>蔡</string>
			<string>晨</string>
			<string>琳</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>左手指月</string>
		<key>icon</key>
		<string>萨顶顶.jpg</string>
		<key>title</key>
		<string>萨顶顶</string>
		<key>options</key>
		<array>
			<string>曾</string>
			<string>丹</string>
			<string>飞</string>
			<string>吕</string>
			<string>李</string>
			<string>贤</string>
			<string>手</string>
			<string>小</string>
			<string>鸿</string>
			<string>古</string>
			<string>左</string>
			<string>曾</string>
			<string>天</string>
			<string>赫</string>
			<string>乔</string>
			<string>月</string>
			<string>春</string>
			<string>宇</string>
			<string>乐</string>
			<string>指</string>
			<string>哥</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>我的秘密</string>
		<key>icon</key>
		<string>GEM2.jpg</string>
		<key>title</key>
		<string>GEM邓紫棋</string>
		<key>options</key>
		<array>
			<string>超</string>
			<string>窃</string>
			<string>我</string>
			<string>无</string>
			<string>间</string>
			<string>鸿</string>
			<string>笑</string>
			<string>秘</string>
			<string>传</string>
			<string>道</string>
			<string>密</string>
			<string>线</string>
			<string>风</string>
			<string>云</string>
			<string>越</string>
			<string>的</string>
			<string>狱</string>
			<string>索</string>
			<string>飞</string>
			<string>人</string>
			<string>导</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>摩天动物园</string>
		<key>icon</key>
		<string>GEM3.jpg</string>
		<key>title</key>
		<string>GEM邓紫棋</string>
		<key>options</key>
		<array>
			<string>宝</string>
			<string>动</string>
			<string>杰</string>
			<string>天</string>
			<string>伦</string>
			<string>志</string>
			<string>摩</string>
			<string>震</string>
			<string>汪</string>
			<string>张</string>
			<string>沙</string>
			<string>园</string>
			<string>澄</string>
			<string>亮</string>
			<string>周</string>
			<string>庆</string>
			<string>物</string>
			<string>林</string>
			<string>杰</string>
			<string>林</string>
			<string>东</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>来自天堂的魔鬼</string>
		<key>icon</key>
		<string>GEM4.jpg</string>
		<key>title</key>
		<string>GEM邓紫棋</string>
		<key>options</key>
		<array>
			<string>栋</string>
			<string>来</string>
			<string>杰</string>
			<string>堂</string>
			<string>张</string>
			<string>炫</string>
			<string>麟</string>
			<string>天</string>
			<string>校</string>
			<string>东</string>
			<string>自</string>
			<string>震</string>
			<string>城</string>
			<string>的</string>
			<string>伦</string>
			<string>谭</string>
			<string>长</string>
			<string>鬼</string>
			<string>岳</string>
			<string>梁</string>
			<string>魔</string>
		</array>
	</dict>
</array>
</plist>
